/*Estos valores daran como resultado border más ovalados 
body {
 text-align: center;
}
#principal {
 display: block;
 width: 500px;
 margin: 50px auto;
 padding: 15px;
 text-align: center;
 border: 1px solid #999999;
 background: #DDDDDD;

 -moz-border-radius: 20px 10px 30px 50px;
 -webkit-border-radius: 20px 10px 30px 50px;
 border-radius: 20px 10px 30px 50px;

}
#titulo {
 font: bold 36px verdana, sans-serif;*/
/* } 
Este codigo hace que los bordes sean más discretos o "esquinas elipticas"*/
body {
 text-align: center;
}
#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #DDDDDD;
    -moz-border-radius: 20px / 10px;
    -webkit-border-radius: 20px / 10px;
    border-radius: 20px / 10px;
    /*BOX Shadow crea sombras en los elementos*/
    -webkit-box-shadow: rgb(150,150,150) 5px 15px;
    box-shadow: rgb(150,150,150) 5px 5px 20px  inset; 

    /*Agregando un grandiete*/
 
    /*Poniendole color a la parte de arriba al grandiete*/ 
    background: linear-gradient(30deg, #FFFFFF, #006699);
    /*Poniendole color a la parte de abajo al grandiete*/
    /*background: linear-gradient(top, #FFFFFF 50%, #006699 90%);*/
    /*Poniendole radio al grandiete*/
    background: -webkit-linear-gradient(top, #FFFFFF, #006699);
    background: -moz-linear-gradient(top, #FFFFFF, #006699);
    /*background: radial-gradient(center, ellipse, #FFFFFF 0%, #006699 200%);*/
    /*background: linear-gradient(top, #FFFFFF 50%, #006699 90%);*/
    outline: 2px dashed #000099;
    outline-offset: 15px;
   } 
#titulo {
    font: bold 36px MiNuevaFuente, verdana, sans-serif;
    text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
    color: hsla(120, 100%, 50%, 0.5);
   }
@font-face {
    font-family: 'Gorilla';
    src: url('font.ttf');
}/*Este bloque sirve para poner una imagen como borde "border-image"*/
#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;

    border: 29px;
    -moz-border-image: url("diamonds.png") 29 stretch;
    -webkit-border-image: url("diamonds.png") 29 stretch;
    border-image: url("diamonds.png") 29 stretch;
}/*SCALE Este bloque sirve para agrandar la escala del bloque, en este cado el titulo*/
#principal { 
    display: block; 
    width: 500px; 
    margin: 50px auto; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid #999999; 
    background: #DDDDDD; 

    -moz-transform: scale(1,-1); 
    -webkit-transform: scale(1,-1); 
    } /*Tambien con SCALE podemos hacer el modo espejo dando valores negativos en Y o en X*/
#principal { /*ROTANDO LA CAJA*/
    display: block; 
    width: 500px; 
    margin: 50px auto; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid #999999; 
    background: #DDDDDD; 
    
    -moz-transform: rotate(30deg); 
    -webkit-transform: rotate(30deg); 
} /*Transdorm: skew*/
/*Cambia la simetria del elemento en grados y en ambas dimensiones*/
#principal { 
    display: block; 
    width: 500px; 
    margin: 50px auto; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid #999999; 
    background: #DDDDDD; 
    
    -moz-transform: skew(20deg); 
    -webkit-transform: skew(20deg); 
}#principal { /*transformacion dinamica*/
    display: block; 
    width: 500px; 
    margin: 50px auto; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid #999999; 
    background: #DDDDDD; 
    } 
    #principal:hover{ 
    -webkit-transform: rotate(5deg); 
} 
/*propiedad transition*/
#principal { 
    display: block; 
    width: 500px; 
    margin: 50px auto; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid #999999; 
    background: #DDDDDD; 
    -moz-transition: -moz-transform 1s ease-in-out 0.5s; 
    -webkit-transition: -webkit-transform 1s ease-in-out 0.5s; 
} 
#principal:hover{ 
    -moz-transform: rotate(5deg); 
    -webkit-transform: rotate(5deg); 
}












































































































